<div class="jumbotron text-center">
	<img src="../logo/logo.png">
	<h1>gitlit</h1>
	<p class="lead">Handle git lfs locks with ease</p>
	<div class="text-center">
		<a class="btn btn-primary btn-lg js-open-folder" href="javascript:///">Open git repository folder</a>
		<input type="file" style="display: none" class="js-open-folder-input" webkitdirectory />
	</div>
</div>
